apiVersion: v1
kind: Secret
metadata:
  name: {{ kubernetes_keel_secret }}
  namespace: {{ kubernetes_keel_namespace }}
type: Opaque
data:
  webhook-endpoint: "{{ kubernetes_keel_webhook_endpoint | b64encode }}"
  slack.token: "{{ kubernetes_keel_slack_token | b64encode }}"
