kind: Service
apiVersion: v1
metadata:
  name: {{ kubernetes_keel_service }}
  namespace: {{ kubernetes_keel_namespace }}
spec:
  selector:
    app: {{ kubernetes_keel_app }}
  ports:
    - port: 80
      targetPort: 9300
